# Configuration files
/backend/config/credentials.yml.enc
/backend/config/master.key

# Runtime files
/backend/log/*
/backend/tmp/*
/backend/public/assets

# Database files
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal
/backend/storage/*

# Dependency Caching
/backend/vendor/bundle/


.env
.DS_Store
.idea/
*.swp
*~
